<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>AccessRecord</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">Topic name</label>
            <select name="tn" id="tn">
            {% for i in rd %}
            <option value="{{i.topic_name}}">{{i.topic_name}}</option>
             {% endfor %}

        </select>
            <br>
            <br>
            <label for="usn">username</label>
           <select name="usn" id="usn">
            {% for i in rd %}
            <option value="{{ i.topic_name }}">{{ i.topic_name }}</option>
            {% endfor %}
           </select>
            <br><br>
            <label for="url">url</label>
           <select name="url" id="url">
            {% for j in rd %}
            <option value="{{ j.url }}">{{ j.url }}</option>
            {% endfor %}
           </select>
            <br><br>
            <label for="date">date</label>
            <input type="date" name="date" id="date">
            <br><br>
            <input type="submit" name="submit">
        </form>
    </center>
</body>
</html>